html,
body {
    height: 100%;
    background-color: #ffc400;
    font-family: 'icomoon', sans-serif;
}

.alto {
    height: 100%;
}

.blanco {
    color: #fff;
}

.naranja {
    background-color: #ffc400;
}

.m-0 {
    margin: 0;
}

.separador {
    display: inline;
    width: 100%;
    padding: 5%;
    border-bottom: .15em solid #fff;
}

nav {
    height: 5em;
}

#inicio {
    height: 100%;
    background-image: url(../img/taxi1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#inicio div div {
    margin-top: 10%;
    padding: 5%;
}

#inicio div div div {
    margin: 0;
    padding: 1% 0;
}

#descarga {
    height: 75%;
}

#descarga img {
    width: 80%;
}

.contenedor-linea {
    margin-top: 3%;
    border: .1em solid #fff;
}

.contenedor-linea div {
    padding: 1% 5%;
}

.contenedor-linea p {
    font-size: 1.4em;
}

#conduce {
    height: 70%;
    background-image: url(../img/conduce.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#conduce div div {
    background-color: rgba(0, 0, 0, 0.71);
    padding: 5em 3em 0;
}

#tarifas {
    height: 90%;
}

footer {
    height: 100%;
    background-color: #3b3b3b;
}

@media (min-width:0px) and (max-width:768px) {
    #inicio-2,
    #texto-descarga {
        display: none;
    }
    #inicio div div {
        margin-top: 30%;
    }
    #descarga img {
        height: 80%;
    }
}
